header {
  background-color: #244751;
  color: #E8FDFF;
  font-family: 'Dancing Script', cursive;
}
body {
    background-color: #e3e3e3;
    font-family: 'Comfortaa', cursive;
}
main {
    background-color:white;
    padding: 16px 25px 16px 25px;
}
.finstagram-post {
    margin-bottom: 48px;
}
.finstagram-post .user-info img {
    border-radius: 50%;
}
a.photo {
    transition: 0.5s;
}
a.photo:hover {
    padding: 10px;
}